body {
  overflow-x: hidden;
}

.home--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img--background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo--container {
  width: 20rem;
  height: 10.7rem;
  left: 0;
  transform: translate(25%, 25%);
  align-self: flex-start;
}

.logo {
  font-family: "Pattaya", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6.4rem;
  line-height: 5rem;
  text-align: center;
  -webkit-text-stroke-width: 0.75px;
  -webkit-text-stroke-color: black;
  color: #ffffff00;

  border: 0px solid #000000ad;
}

.titulo {
  height: 35rem;
  position: relative;
  margin-top: 3rem;
  text-shadow: 0 4px 4px #00000040;
}

.titulo--texto {
  font-family: "Oswald", sans-serif;
  font-size: 14.4rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.titulo--texto-meio {
  font-family: "Abril Fatface", cursive;
  font-size: 7.2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  color: #000000;
  z-index: 99;
}

.titulo--texto:last-child {
  transform: translateY(-40%);
}

.search--box {
  font-family: "Oxygen", sans-serif;
  width: 70rem;
  color: #3f3f3f;
  height: 6.8rem;
  border-radius: 7rem;
  border: none;
  font-size: 2.4rem;
  box-shadow: 0 1px 4px #00000040;
  padding-left: 3.2rem;
  line-height: 6.8rem;
}

.search--box::placeholder {
  opacity: 0.7;
}

.search--box:focus {
  outline: 4px solid #c5acac66;
}

button {
  height: 3.7rem;
  border-radius: 7px;
}

/******************
      QUERIES
******************/
@media (max-width: 47em) {
  html {
    font-size: 56.25%;
  }

  .logo--container {
    align-self: center;
    transform: translate(-50%, 25%);
    width: 20rem;
    height: 10.7rem;
    padding: 14.4rem 0 7.2rem;
  }

  .logo {
    -webkit-text-stroke-width: 1px;
    font-size: 14rem;
  }
}

@media (max-width: 42em) {
  .search--box {
    width: 65rem;
  }
}

@media (max-width: 39em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 35em) {
  .logo--container {
    transform: translate(0, -20%);
    padding-bottom: 4.4rem;
  }

  .logo {
    font-size: 8rem;
  }

  .titulo {
    margin-top: 0;
  }
  .titulo--texto {
    font-size: 11rem;
  }
  .titulo--texto-meio {
    transform: translate(-50%, -80%);
  }
  .search-bar {
    transform: translateY(-150%);
  }
  .search--box {
    width: 45rem;
  }
}
